<div class="main">
    <div class="wrapper">
        <div class="left-col">
            <div class="status-wrapper">
                <div class="status-card">
                    <div class="profile-pic"><img src="/assets/img.jpg" alt=""></div>
                    <p class="username">user_name_1</p>
                </div>
                <div class="status-card">
                    <div class="profile-pic"><img src="/assets/img.jpg" alt=""></div>
                    <p class="username">user_name_2</p>
                </div>
                <div class="status-card">
                    <div class="profile-pic"><img src="/assets/img.jpg" alt=""></div>
                    <p class="username">user_name_3</p>
                </div>
                <div class="status-card">
                    <div class="profile-pic"><img src="/assets/img.jpg" alt=""></div>
                    <p class="username">user_name_1</p>
                </div>
                <div class="status-card">
                    <div class="profile-pic"><img src="/assets/img.jpg" alt=""></div>
                    <p class="username">user_name_2</p>
                </div>
                <div class="status-card">
                    <div class="profile-pic"><img src="/assets/img.jpg" alt=""></div>
                    <p class="username">user_name_3</p>
                </div>
                <div class="status-card">
                    <div class="profile-pic"><img src="/assets/img.jpg" alt=""></div>
                    <p class="username">user_name_2</p>
                </div>
                <div class="status-card">
                    <div class="profile-pic"><img src="/assets/img.jpg" alt=""></div>
                    <p class="username">user_name_3</p>
                </div>
                <div class="status-card">
                    <div class="profile-pic"><img src="/assets/img.jpg" alt=""></div>
                    <p class="username">user_name_1</p>
                </div>
                <div class="status-card">
                    <div class="profile-pic"><img src="/assets/img.jpg" alt=""></div>
                    <p class="username">user_name_2</p>
                </div>
                <div class="status-card">
                    <div class="profile-pic"><img src="/assets/img.jpg" alt=""></div>
                    <p class="username">user_name_3</p>
                </div>
            </div>
        </div>
    </div>
</div>
