<div class="flex">
    <app-navbar></app-navbar>
    <div class="notfound">
        <div class=" error-message-container">
            <span class="error-message-text">
                Sorry, this page isn't available.
            </span>
            <div class="error-details-container">
                <span class="error-details-text">
                    The link you followed may be broken, or the page may have been removed. <a class="go-back-link" (click)="home()"
                        role="link" tabindex="0">Go back to Instagram.</a>
                </span>
            </div>
        </div>
    </div>
</div>