
<div class="profile">
    <div class="user-profile">
        <div class="user-profile-info">
            <div class="user-profile-image">
                <a class="profile-link" routerLink="/profile-detals" role="link" tabindex="0">
                    <img alt="" class="profile-picture"(click)="userdetail()" src="assets/img.jpg" />
                </a>
            </div>
            <div class="user-profile-details" >
                <a class="profile-link" (click)="userdetail()" role="link" tabindex="0">
                    <div class="user-name">Roopesh</div>
                </a>
                <div class="user-follow-info">Roovi</div>
            </div>
        </div>
        <div class="user-follow-button">
            <button class="follow-button" type="button">
                <div class="follow-text">Switch</div>
            </button>
        </div>
    </div>
</div>

<div class=" user-suggestion">
    <div class="user-info">
        <div class="user-suggestion-title">Suggested for you</div>
        <a class="see-all-link" href="/explore/people/?next=%2F" role="link" tabindex="0">
            <span class="see-all-text">See All</span>
        </a>
    </div>
    <div class="user-profile">
        <div class="user-profile-info">
            <div class="user-profile-image">
                <a class="profile-link" href="/miss_nikita_14362/?next=%2F" role="link" tabindex="0">
                    <img alt="Profile Picture of miss_nikita_14362" class="profile-picture" src="assets/img.jpg" />
                </a>
            </div>
            <div class="user-profile-details">
                <a class="profile-link" href="/miss_nikita_14362/?next=%2F" role="link" tabindex="0">
                    <div class="user-name">miss_nikita_14362</div>
                </a>
                <div class="user-follow-info">Followed by ankita__vishwakarma77 + 1 more</div>
            </div>
        </div>
        <div class="user-follow-button">
            <button class="follow-button" type="button">
                <div class="follow-text">Follow</div>
            </button>
        </div>
    </div>
    <div class="user-profile">
        <div class="user-profile-info">
            <div class="user-profile-image">
                <a class="profile-link" href="/miss_nikita_14362/?next=%2F" role="link" tabindex="0">
                    <img alt="Profile Picture of miss_nikita_14362" class="profile-picture" src="assets/img.jpg" />
                </a>
            </div>
            <div class="user-profile-details">
                <a class="profile-link" href="/miss_nikita_14362/?next=%2F" role="link" tabindex="0">
                    <div class="user-name">miss_nikita_14362</div>
                </a>
                <div class="user-follow-info">Followed by ankita__vishwakarma77 + 1 more</div>
            </div>
        </div>
        <div class="user-follow-button">
            <button class="follow-button" type="button">
                <div class="follow-text">Follow</div>
            </button>
        </div>
    </div>    <div class="user-profile">
        <div class="user-profile-info">
            <div class="user-profile-image">
                <a class="profile-link" href="/miss_nikita_14362/?next=%2F" role="link" tabindex="0">
                    <img alt="Profile Picture of miss_nikita_14362" class="profile-picture" src="assets/img.jpg" />
                </a>
            </div>
            <div class="user-profile-details">
                <a class="profile-link" href="/miss_nikita_14362/?next=%2F" role="link" tabindex="0">
                    <div class="user-name">miss_nikita_14362</div>
                </a>
                <div class="user-follow-info">Followed by ankita__vishwakarma77 + 1 more</div>
            </div>
        </div>
        <div class="user-follow-button">
            <button class="follow-button" type="button">
                <div class="follow-text">Follow</div>
            </button>
        </div>
    </div>    <div class="user-profile">
        <div class="user-profile-info">
            <div class="user-profile-image">
                <a class="profile-link" href="/miss_nikita_14362/?next=%2F" role="link" tabindex="0">
                    <img alt="Profile Picture of miss_nikita_14362" class="profile-picture" src="assets/img.jpg" />
                </a>
            </div>
            <div class="user-profile-details">
                <a class="profile-link" href="/miss_nikita_14362/?next=%2F" role="link" tabindex="0">
                    <div class="user-name">miss_nikita_14362</div>
                </a>
                <div class="user-follow-info">Followed by ankita__vishwakarma77 + 1 more</div>
            </div>
        </div>
        <div class="user-follow-button">
            <button class="follow-button" type="button">
                <div class="follow-text">Follow</div>
            </button>
        </div>
    </div>
</div>

